@import "tailwindcss";

@theme {
  --color-primary: #008f4c;
  --color-secondary: #2e7d5f;
  --color-accent: #f2c94c;
  --color-textMain: #333333;
  --color-textSecondary: #828282;
  --color-background: #ffffff;
  --color-backgroundSecondary: #f5f5f5;
  --color-border: #e0e0e0;
  --color-success: #6fcf97;
  --color-warning: #f7b731;
  --color-error: #c0392b;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
